.MainApp {
  width: 300px;
  border: 5px solid rgba(0, 128, 0, 0.274);
  padding: 50px;
  margin: 20px;

  text-align: center;
}

.App {
  width: 200px;
  border: 1px solid green;
  padding: 25px;
  margin: 20px;

} 

ul li::marker {
  color: red;
  font-size: 1.5em;
}

.TestTodo {
  text-align: center;

}




